{% load static %}
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
      <div class="user-account">
        <img src="{% static 'assets/images/user.png' %}" class="rounded-circle user-photo" alt="User Profile Picture">
        <div class="dropdown">
          <span>Welcome,</span>
          <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Dr. Chandler
            Bing</strong></a>
        </div>
        <hr>

      </div>
      <!-- Nav tabs -->

      <!-- Tab panes -->
      <div class="tab-content p-l-0 p-r-0">
        <div class="tab-pane active" id="menu">
          <nav class="sidebar-nav">
            <ul class="main-menu metismenu">
              <li class="active"><a href="{% url 'dentalrecord:home' %}"><i class="icon-home"></i><span>Dashboard</span></a></li>
              <li><a href="{% url 'dentalrecord:patientinfoadd' %}"><i class="icon-plus"></i>Add Patient Information</a></li>
              <li><a href="{% url 'dentalrecord:patientinformation' %}"><i class="icon-eye"></i>View Patient Records</a></li>
{#              <li><a href="app-inbox.html"><i class="icon-logout"></i>Logout</a></li>#}

            </ul>
          </nav>
        </div>


      </div>
    </div>
  </div>