{% extends 'base/base.html' %}
{% load static %}
<!-- Overlay For Sidebars -->
{% block content %}
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
          class="fa fa-arrow-left"></i></a> Dashboard</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index-2.html"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row clearfix">

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="body">
          <div class="row clearfix">
            <div class="col-md-12">
              <div class="body bg-success text-light text-center">
                <h4><i class="icon-user"></i> {{ total_patient }}</h4>
                <span>Total Patient</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}