{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="col-lg-7 offset-lg-2 col-sm-12">
    <div class="card">
      <div class="header">
        <h1>Edit Patient Information</h1>
      </div>
      <div class="body">
        <form method="POST" action="/update/{{ patientlist.pk }}" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Register no</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="registration_no" maxlength=200 class="form-control" id="id_registration_no"
                     value="{{ patientlist.registration_no }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Date</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="recorddate" class="form-control"  id="id_recorddate" value="{{ patientlist.recorddate|date:'Y-m-d' }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Name</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="patient_name" maxlength=200 class="form-control" id="id_patient_name"
                     value="{{ patientlist.patient_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Occupation</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="occupation" maxlength=200 class="form-control" id="id_occupation"
                     value="{{ patientlist.occupation }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Age</label>
            <div class="col-xl-9 col-sm-12">
              <input type="number" name="age" maxlength="200" class="form-control" id="id_age"
                     value="{{ patientlist.age }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Gender:</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_gender_0" class="fancy-radio">
                <input type="radio" name="gender" value="Male" {% if patientlist.gender == 'Male' %}
                       checked {% endif %} id="id_gender_0">
                <span><i></i>Male</span>
              </label>

              <label for="id_gender_1" class="fancy-radio">
                <input type="radio" name="gender" value="Female" {% if patientlist.gender == 'Female' %}
                       checked {% endif %} id="id_gender_1">
                <span><i></i>Female</span>
              </label>

              <label for="id_gender_2" class="fancy-radio">
                <input type="radio" name="gender" value="Rather not to say" {% if patientlist.gender == 'Rather not to say' %}
                       checked {% endif %} id="id_gender_2">
                <span><i></i>Rather not to say</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Address</label>
            <div class="col-xl-9 col-sm-12">
              <textarea name="address" cols="30" rows="5" class="form-control" id="id_address">{{ patientlist.address }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Phone</label>
            <div class="col-xl-9 col-sm-12">
              <input type="tel" name="phone" maxlength=200 class="form-control" id="id_phone"
                     value="{{ patientlist.phone }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Email</label>
            <div class="col-xl-9 col-sm-12">
              <input type="email" name="email" maxlength=1000 class="form-control" id="id_email"
                     value="{{ patientlist.email }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Parents/Guardian's Name (If child)</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="guardian_name" maxlength=200 class="form-control" id="id_guardian_name"
                     value="{{ patientlist.guardian_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Refference</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="refferance" maxlength=200 class="form-control" id="id_refferance"
                     value="{{ patientlist.refferance }}">
            </div>
          </div>
          <hr>
          <div class="header">
            <h1>Medical History</h1>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Drug Allergy</label>
            <div class="col-xl-9 col-sm-12">
              <label for="id_drug_allergy_0" class="fancy-radio">
                <input type="radio" name="drug_allergy" value="Yes" id="id_drug_allergy_0"
                  {% if patientlist.drug_allergy == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_drug_allergy_1" class="fancy-radio">
                <input type="radio" name="drug_allergy" value="No" id="id_drug_allergy_1"
                  {% if patientlist.drug_allergy == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12"><small>(If any Name)</small></label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="name_drug_allergy" maxlength=2000 class="form-control" id="id_name_drug_allergy"
                     value="{{ patientlist.name_drug_allergy }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Rheumatic Fever</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_rheumatic_fever_0" class="fancy-radio">
                <input type="radio" name="rheumatic_fever" value="Yes" id="id_rheumatic_fever_0"
                  {% if patientlist.rheumatic_fever == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_rheumatic_fever_1" class="fancy-radio">
                <input type="radio" name="rheumatic_fever" value="No" id="id_rheumatic_fever_1"
                  {% if patientlist.rheumatic_fever == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Valvular diseases</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_valvular_diseases_0" class="fancy-radio">
                <input type="radio" name="valvular_diseases" value="Yes" id="id_valvular_diseases_0"
                  {% if patientlist.valvular_diseases == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_valvular_diseases_1" class="fancy-radio">
                <input type="radio" name="valvular_diseases" value="No" id="id_valvular_diseases_1"
                  {% if patientlist.valvular_diseases == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Asthma/TB</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_asthma_tb_0" class="fancy-radio">
                <input type="radio" name="asthma_tb" value="Yes" id="id_asthma_tb_0"
                  {% if patientlist.asthma_tb == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_asthma_tb_1" class="fancy-radio">
                <input type="radio" name="asthma_tb" value="No" id="id_asthma_tb_1"
                  {% if patientlist.asthma_tb == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Hypertension</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_hypertension_0" class="fancy-radio">
                <input type="radio" name="hypertension" value="Yes" id="id_hypertension_0"
                  {% if patientlist.hypertension == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_hypertension_1" class="fancy-radio">
                <input type="radio" name="hypertension" value="No" id="id_hypertension_1"
                  {% if patientlist.hypertension == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Heart Disease</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_heart_desease_0" class="fancy-radio">
                <input type="radio" name="heart_desease" value="Yes" id="id_heart_desease_0"
                  {% if patientlist.heart_desease == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_heart_desease_1" class="fancy-radio">
                <input type="radio" name="heart_desease" value="No" id="id_heart_desease_1"
                  {% if patientlist.heart_desease == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Heart Valve/Pace Maker</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_heart_valve_pace_maker_0" class="fancy-radio">
                <input type="radio" name="heart_valve_pace_maker" value="Yes" id="id_heart_valve_pace_maker_0"
                  {% if patientlist.heart_valve_pace_maker == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_heart_valve_pace_maker_1" class="fancy-radio">
                <input type="radio" name="heart_valve_pace_maker" value="No" id="id_heart_valve_pace_maker_1"
                  {% if patientlist.heart_valve_pace_maker == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Peptic Ulcer</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_peptic_ulcer_0" class="fancy-radio">
                <input type="radio" name="peptic_ulcer" value="Yes" id="id_peptic_ulcer_0"
                  {% if patientlist.peptic_ulcer == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_peptic_ulcer_1" class="fancy-radio">
                <input type="radio" name="peptic_ulcer" value="No" id="id_peptic_ulcer_1"
                  {% if patientlist.peptic_ulcer == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Jaundice/Liver Disease</label>
            <div class="col-xl-9 col-sm-12">
              <label for="id_jaundice_liver_disease_0" class="fancy-radio">
                <input type="radio" name="jaundice_liver_disease" value="Yes" id="id_jaundice_liver_disease_0"
                  {% if patientlist.jaundice_liver_disease == 'Yes' %} checked {% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_jaundice_liver_disease_1" class="fancy-radio">
                <input type="radio" name="jaundice_liver_disease" value="No" id="id_jaundice_liver_disease_1"
                  {% if patientlist.jaundice_liver_disease == 'No' %} checked {% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Diabetes</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_diabetes_0" class="fancy-radio">
                <input type="radio" name="diabetes" value="Yes" id="id_diabetes_0"
                       {% if patientlist.diabetes == 'Yes' %}checked{% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_diabetes_1" class="fancy-radio">
                <input type="radio" name="diabetes" value="No" id="id_diabetes_1"
                       {% if patientlist.diabetes == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Kidney disease</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_kidney_disease_0" class="fancy-radio">
                <input type="radio" name="kidney_disease" value="Yes" id="id_kidney_disease_0"
                  {% if patientlist.kidney_disease == 'Yes' %} checked {% endif %} >
                <span><i></i>Yes</span>
              </label>

              <label for="id_kidney_disease_1" class="fancy-radio">
                <input type="radio" name="kidney_disease" value="No" id="id_kidney_disease_1"
                       {% if patientlist.kidney_disease == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Epilepsy (মৃগী রোগ)</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_epilepsy_0" class="fancy-radio">
                <input type="radio" name="epilepsy" value="Yes" id="id_epilepsy_0"
                  {% if patientlist.epilepsy == 'Yes' %} checked {% endif %} >
                <span><i></i>Yes</span>
              </label>

              <label for="id_epilepsy_1" class="fancy-radio">
                <input type="radio" name="epilepsy" value="No" id="id_epilepsy_1"
                  {% if patientlist.epilepsy == 'No' %} checked {% endif %} >
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Bleeding Disorder</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_bleeding_disorder_0" class="fancy-radio">
                <input type="radio" name="bleeding_disorder" value="Yes" id="id_bleeding_disorder_0"
                       {% if patientlist.bleeding_disorder == 'Yes' %}checked{% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_bleeding_disorder_1" class="fancy-radio">
                <input type="radio" name="bleeding_disorder" value="No" id="id_bleeding_disorder_1"
                       {% if patientlist.bleeding_disorder == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Viral Infection (Hepa. B/C/HIV)</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_hepa_b_c_hiv_0" class="fancy-radio">
                <input type="radio" name="hepa_b_c_hiv" value="Yes" id="id_hepa_b_c_hiv_0"
                       {% if patientlist.hepa_b_c_hiv == 'Yes' %}checked{% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_hepa_b_c_hiv_1" class="fancy-radio">
                <input type="radio" name="hepa_b_c_hiv" value="No" id="id_hepa_b_c_hiv_1"
                       {% if patientlist.hepa_b_c_hiv == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Take any vaccine for viral infection?</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_take_any_vaccine_0" class="fancy-radio">
                <input type="radio" name="take_any_vaccine" value="Yes" id="id_take_any_vaccine_0"
                       {% if patientlist.take_any_vaccine == 'Yes' %}checked{% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_take_any_vaccine_1" class="fancy-radio">
                <input type="radio" name="take_any_vaccine" value="No" id="id_take_any_vaccine_1"
                       {% if patientlist.take_any_vaccine == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">What kinds of vaccine?</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="vaccine_type" maxlength=400 class="form-control" value="{{ patientlist.vaccine_type }}"
                     id="id_vaccine_type">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Drug History (If any name)</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="drug_history_name_if_any" maxlength=200 class="form-control"
                     value="{{ patientlist.drug_history_name_if_any|date:'Y-m-d' }}"
                     id="id_drug_history_name_if_any">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Last dental check-up date</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="last_dental_check_up_date" class="form-control"
                     value="{{ patientlist.last_dental_check_up_date|date:'Y-m-d' }}" id="id_last_dental_check_up_date">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">What kinds of treatment do you have last for teeth?</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="last_treatment_type" class="form-control" maxlength=200
                     value="{{ patientlist.last_treatment_type }}"
                     id="id_last_treatment_type">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Habits &amp; Addiction</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="habits_addiction_name" class="form-control" maxlength=200
                     value="{{ patientlist.habits_addiction_name }}"
                     id="id_habits_addiction_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Experience to tooth Extraction &amp; Anaesthesia</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_experience_tooth_extraction_anaesthesia_0" class="fancy-radio">
                <input type="radio" name="experience_tooth_extraction_anaesthesia" value="Yes"
                       id="id_experience_tooth_extraction_anaesthesia_0"
                       {% if patientlist.experience_tooth_extraction_anaesthesia == 'Yes' %}checked{% endif %}
                >
                <span><i></i>Yes</span>
              </label>

              <label for="id_experience_tooth_extraction_anaesthesia_1" class="fancy-radio">
                <input type="radio" name="experience_tooth_extraction_anaesthesia" value="No"
                       id="id_experience_tooth_extraction_anaesthesia_1"
                       {% if patientlist.experience_tooth_extraction_anaesthesia == 'No' %}checked{% endif %}
                >
                <span><i></i>No</span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Pregnancy</label>
            <div class="col-xl-9 col-sm-12">

              <label for="id_pregnancy_0" class="fancy-radio">
                <input type="radio" name="pregnancy" value="Yes" id="id_pregnancy_0"
                       {% if patientlist.pregnancy == 'Yes' %}checked{% endif %}>
                <span><i></i>Yes</span>
              </label>

              <label for="id_pregnancy_1" class="fancy-radio">
                <input type="radio" name="pregnancy" value="No" id="id_pregnancy_1"
                       {% if patientlist.pregnancy == 'No' %}checked{% endif %}>
                <span><i></i>No</span>
              </label>

            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Month Please (If pregnant)</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" maxlength=200 name="month_pregnant" class="form-control" value="{{ patientlist.month_pregnant }}"
                     id="id_month_pregnant">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Last Period date</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="lmp_date" class="form-control"  id="id_lmp_date" value="{{ patientlist.lmp_date|date:'Y-m-d' }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Any other information</label>
            <div class="col-xl-9 col-sm-12">
              <textarea name="other_information" cols="40" rows="3" class="form-control"
                        id="id_other_information">{{ patientlist.other_information }}</textarea>
            </div>
          </div>

          <hr>
          <div class="header">
            <h1>Treatment plan</h1>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Date</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="treatment_date" class="form-control"  id="id_treatment_date" value="{{ patientlist.treatment_date|date:'Y-m-d' }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Procedure</label>
            <div class="col-xl-9 col-sm-12">
              <input type="text" name="procedure" class="form-control" value="{{ patientlist.procedure }}"
                     id="id_procedure">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xl-3 col-sm-12">Next Work/Next Date</label>
            <div class="col-xl-9 col-sm-12">
              <input type="date" name="next_date" class="form-control"  id="id_next_date" value="{{ patientlist.next_date|date:'Y-m-d' }}">
            </div>
          </div>


          <button type="submit" class="btn btn-theme-colored1">Save your information</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}